<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.realtimeshow.mapper">

    <resultMap id="OnlineStatCarAreaMap" type="com.wt.realtimeshow.entity.OnlineStatCarArea">
        <result column="id" property="id"/>
        <result column="vin" property="vin"/>
        <result column="carsSeries" property="carsSeries"/>
        <result column="channelId" property="channelId"/>
        <result column="districtId" property="districtId"/>
        <result column="cityId" property="cityId"/>
        <result column="provinceId" property="provinceId"/>
        <result column="carNumber" property="carNumber"/>
        <result column="currentTime" property="currentTime"/>
        <result column="ymd" property="ymd"/>
        <result column="timeMark" property="timeMark"/>
        <result column="province_name" property="province_name"/>
        <result column="city_name" property="city_name"/>
        <result column="area_name" property="area_name"/>
    </resultMap>

    <select id="selectPeriodTime" resultMap="OnlineStatCarAreaMap">
        SELECT * from mytest.cararea where ymd= ${ymd} and timeMark = ${timeMark};
    </select>

</mapper>